.community
{
    padding-top: 5%;
    padding-bottom: 5%;
}
.para {
    font-size: 32px;
    padding-top: 1%;
    padding-bottom: 100px;
    text-align: justify;
}
.para2 {
    font-size: 32px;
    padding-top: 10%;
    text-align: justify;
}
.para3 {
    font-size: 32px;
    text-align: justify;
}
.frame2
{
    margin-top: 150px;
}
.h11{
    font-size: 48px;
}
.marg
{
    margin-left: 30px;
    margin-right: 30px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    width: 360px;
    height: 100px;
    border-radius: 48px;
    margin-top: 20%;
  }
  /* GDSC PCCOER */
.f3{

width: 720px;
height: 144px;
left: 185px;
top: 863px;
margin-top: 120px;
margin-left: 30%;
font-family: 'Inter';
font-style: normal;
font-size: 72px;
line-height: 36px;
/* or 56% */
letter-spacing: 0.02em;

color: #0CBC8B;

}

.clg-img
{
    width:80%;
    margin-top: 5%;
}
.f5-img
{
    width:90%;
    margin-top: 5%;
}